{% block content %}
{%  include 'Bot.html' %}
    <style>
    h1 {text-align: center;}
    p {text-align: justify;}

    </style>

    <h1>
       Partie 3 - Instructions
    </h1>
<br>



<p> Dans cet exemple, vous jouez seul.  </p>


<p> Vous venez venez de compter le nombre de zéros dans le tableau 1.</p>

<p>  Votre réponse est <b> incorrecte. </b> </p>

<p> Voici l'écran que vous verrez :  </p>

<br>
<p>

<img src="{{ static 'global/error_solo.png'}}" width="700px"/>
</p>
<br>

<p> Si vous avez des questions, veuillez lever la main pour que nous puissions  vous aider. </p>


 <p>  Cliquez sur le bouton pour continuer. </p>



  <button class="btn btn-danger" id='button1' style="margin-left: 75%; display: block;"> Continuer </button>


{% endblock %}