{% block content %}
{%  include 'Bot.html' %}
    <style>
    h1 {text-align: center;}
    p {text-align: justify;}

    </style>

    <h1>
       Partie 3 - Instructions - Jeu Collectif
    </h1>
<br>

<p> Dans cette partie, vous allez être sélectionné de manière aléatoire pour soit continuer à réaliser une tache seul, soit être apparié avec un autre participant.</p>

<p> Si vous êtes sélectionné pour rester seul, vous allez réaliser la même tâche que dans la partie 2, mais durant 6 périodes et avec du feedback : </p>

<p> <u>A chaque période : </u> </p>
 <p>Vous découvrirez un tableau rempli de 0 et de 1.</p>
<p>Vous aurez 30 secondes pour compter tous les zéros. </p>
<p> Si votre réponse est correct, vous gagnerez un point. </p>
<p> Ensuite, vous recevrez un feedback sur votre performance. </p>

<p>Si vous êtes sélectionné pour être apparié avec un autre participant, vous allez réaliser une tache commune avec ce participant. </p>

<p> <u>A chaque période: </u></p>
<p> 	Vous verrez  le même tableau rempli de 0 et de 1.</p>
<p> Vous aurez chacun 30 secondes pour compter tous les zéros.   </p>
<p>	Votre réponse ou celle de votre partenaire sera choisie au hasard comme réponse de l'équipe. </p>
<p>	Si cette réponse est correcte, vous gagnerez tous les deux 1 point; sinon, vous gagnerez tous les deux 0 point. </p>
<p>Ensuite, vous recevrez un feedback sur la performance de l'équipe.  </p>


<p> Si vous avez des questions, veuillez lever la main pour que nous puissions vous aider.</p>
<p> Nous allons maintenant vous présenter un exemple pour illustrer les différents types de feedback.</p>


{% endblock %}