{% block content %}
{%  include 'Bot.html' %}
    <style>
    h1 {text-align: center;}
    p {text-align: justify;}

    </style>

    <h1>
       Partie 3 - Instructions
    </h1>
<br>

<p> Vous faites partie du groupe B. </p>
<p>Les instructions ne seront donc pas lues à haute voix, mais elles seront  affichées sur vos écrans.


<p> Dans cette partie, vous allez réaliser la même tâche que dans la partie 2, mais durant 6 périodes et avec du feedback : </p>

<p> <u>A chaque période : </u> </p>
 <p>Vous découvrirez un tableau rempli de 0 et de 1.</p>
<p>Vous aurez 30 secondes pour compter tous les zéros. </p>
<p> Si votre réponse est correcte, vous gagnerez un point. </p>
<p> Ensuite, vous recevrez un feedback sur votre performance. </p>

<p> Si vous avez des questions, veuillez lever la main pour que nous puissions vous aider.</p>
<p> Nous allons maintenant vous présenter un exemple pour illustrer les différents types de feedback.</p>

 <button class="btn btn-danger" id='button1' style="margin-left: 75%; display: block;"> Suivant </button>

{% endblock %}