{% block title %}
Partie 3
{% endblock %}

{% block content %}

<p>Dans cette partie, vous jouez seul. </p>
<p>
Avant de débuter la première période, merci d'estimer votre performance dans la  <b> Partie 2  </b> de l'expérience.  </p>
<p> <u> Par exemple: </u></p>

<p>
    Si vous pensez n'avoir obtenu aucune réponse correcte dans la partie 2 de l'expérience, sélectionnez "0".
</p>
    <p>
    Si vous pensez avoir correctement compté  le nombre de zéros dans 1 tableau sur 4, sélectionnez "1".
</p>
    <p>
    Si 2 tableaux sur 4, sélectionnez "2", etc.
</p>




<p> Vous gagnerez un point si votre estimation est correcte. </p>

    <p> Si vous avez des questions, veuillez lever la main pour que nous puissions  vous aider. </p>

<p> Cliquez sur le bouton pour commencer.</p>



 <button class="btn btn-danger" id='button1' style="margin-left: 75%; display: block;"> Commencer </button>






{% endblock %}




