{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
     Collaborative Counting Task - table {{ view.round_number }}
{% endblock %}

{% block content %}

<style>
    .otree-timer {
        display: none;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        $('.otree-timer__time-left').on('update.countdown', function (event) {
            if (event.offset.totalSeconds <= 120) {
                $('.otree-timer').show();
            }
        });
    });
</script>
<p>
You entered <b> {{participant.answerA}} </b> in <b> part A </b>   and <b> {{participant.answerB}}</b>  in <b> Part B.</b>
</p>
<p>
    The <b> sum</b>  that you submitted is <b> {{participant.sum1}}.</b>
</p>
<!-- Please coordinate with your partner using the chat to both enter the same sum: -->
Please coordinate with your partner using the chat to submit the group's answer:
<br>
<p>
{{ chat }}
  {{ formfields }}

</p>


<button class="btn btn-danger" id='button1' style="margin-left: 75%; display: block;"> Submit </button>


{% endblock %}





