{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Collaborative Counting Task - table {{ view.round_number }}
{% endblock %}

{% block content %}


                {% if player.round_number == 1 %}

<img src="https://i.imgur.com/YC0YXSA.png" width="300px" />

<br>
<p>

        {{ formfields }}
</p>

{% elif player.round_number == 2 %}

<img src="https://i.imgur.com/pE1P1vP.png" width="300px" />
<br>
 <p>
        {{ formfields }}

 </p>

{% elif player.round_number == 3 %}

<img src="https://i.imgur.com/CoDmXFt.png" width="300px" />
<br>
 <p>
        {{ formfields }}

 </p>

{% elif player.round_number == 4 %}
<img src="https://i.imgur.com/rAc2k3s.png" width="300px" />


<br>
 <p>
        {{ formfields }}

 </p>

{% elif player.round_number == 5 %}

<img src="https://i.imgur.com/0aG7g1s.png" width="300px" />
<br>
 <p>
        {{ formfields }}

 </p>

{% elif player.round_number == 6 %}

<img src="https://i.imgur.com/7Uq6HaV.png" width="300px" />
<br>
 <p>
        {{ formfields }}

 </p>

{% elif player.round_number == 7 %}

<img src="https://i.imgur.com/XQrRZE2.png" width="300px" />
<br>
 <p>
        {{ formfields }}

 </p>


{% elif player.round_number == 8 %}

<img src="https://i.imgur.com/m5hrgWb.png" width="300px" />
<br>
 <p>
        {{ formfields }}

 </p>



{% endif %}

<button class="btn btn-danger" id='button1' style="margin-left: 75%; display: block;"> Submit </button>


{% endblock %}







