{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
       Exemple - Exercice de Compréhension
{% endblock %}

{% block content %}
{%  include 'Bot.html' %}

<p> <b> Pour tester votre compréhension de la tâche à effectuer, voici un tableau plus petit pour vous exercer.
    </b> </p>

<br>

<img src="{{ static 'global/table_ComprehensionCheck.png'}}" width="100px"  class="center"/>

<br>
<p>

        {{ formfields }}
</p>


<button class="btn btn-danger" id='button1' style="margin-left: 75%; display: block;"> Valider </button>


{% endblock %}

