{% block content %}
{%  include 'Bot.html' %}
    <style>
    h1 {text-align: center;}
    p {text-align: justify;}

    </style>

    <h1>
       Partie 2 -  Exemple
    </h1>
<br>



<p> <b> Il y a 44 <font color="red">zéros</font>  dans le tableau ci-dessous. </b> </p>

<p> <b> La réponse à indiquer est donc <font color="red">44</font>.</b> </p>


<br>

<p>

    <img src="{{ static 'global/Exemple.png'}}" width="800px"/>
</p>



<p> Si vous avez des questions, veuillez lever la main pour que nous puissions vous aider. </p>



    <p> Cliquez sur le bouton pour continuer l'exemple. </p>


  <button class="btn btn-danger" id='button1' style="margin-left: 75%; display: block;"> Continuer </button>


{% endblock %}