{% block title %}
Part 5 - Table {{ view.round_number }} - Partner: {{ participant.name_partner_round3 }}
<style>
    .hidden-label label {
        display: none;
    }
</style>
{% endblock %}

{% block content %}
{%  include 'Bot.html' %}

<p>

</p>

<p>
   {{ participant.name_partner_round3 }}'s answer was randomly chosen as the team answer.

<br>
<p>
     Unfortunately, {{ participant.name_partner_round3 }} provided
a wrong answer and your  team got 0 points &#128542;
</p>



 {{ next_button }}

{% endblock %}






