{% block content %}
{%  include 'Bot.html' %}
    <style>
    h1 {text-align: center;}
    p {text-align: justify;}

    </style>

    <h1>
       Part 3 - Instructions - Collective Game
    </h1>
<br>



<p> In this example, you are paired with Mary. </p>


<p> Mary and you have just counted the number of 0s in table 1.</p>

<p> One of your answers was randomly chosen as the team's answer, and this answer is <b> wrong. </b></p>

<p> The identity of the partner whose answer was selected <b> will  be revealed. </b> </p>

<p> On the left below  is the screen you will see if your answer was chosen; on the right is the screen you will
see if Mary's answer was chosen:</p>


<br>
<p>

<img src="{{ static 'global/negativeTreatment1.png'}}" width="600px"/>
</p>
<br>

<p> If you have any questions from this point on, please raise your hand and wait for the experimenter to come to you.</p>


 <p>  Press the button when you are ready to start the game. </p>



  <button class="btn btn-danger" id='button1' style="margin-left: 75%; display: block;"> Start </button>


{% endblock %}