{% block title %}
Part 5  - Partner: {{ participant.name_partner_round3 }}
{% endblock %}

{% block content %}

<p>
 Based on the rankings of this session's participants in Part 5,  you have been paired with  <b> {{ participant.name_partner_round3 }}.</b>
  </p>

   Before moving to Table 1, you will have to guess both your own and {{ participant.name_partner_round3 }}'s performance
in Part 4 of the experiment. </p>

<p> For example, if you think you provided 1 correct answer in Part 4, your guess for your own performance should be "1".
Similarly, if you think {{ participant.name_partner_round3 }} provided 1 correct answer in Part 4, your guess for {{ participant.name_partner_round3 }}'s performance should be "1". </p>

<p> Each correct guess earns you 1 point.</p>

    <p> If you have any question, please raise your hand, and the experimenter will assist you.</p>



 <input type="submit" class="btn btn-primary" value="Start">






{% endblock %}




