{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
       Exercice de Compréhension
{% endblock %}

{% block content %}
{%  include 'Bot.html' %}

<p> <b> Vous avez sélectionné au moins une réponse incorrecte.</b> </p>

<p> <b> Voici les réponses correctes: </b></p>

<br>

<img src="{{ static 'global/Compréhension_Beliefs_Error.png'}}" width="800px"/>


<p>
    <br>

      <b> Veuillez attendre qu'un instructeur vienne vous voir avant de continuer l'expérience.</b>
</p>



{% endblock %}

