{% block content %}
{%  include 'Bot.html' %}
    <style>
    h1 {text-align: center;}
    p {text-align: justify;}

    </style>

    <h1>
       Partie 3 - Instructions - Sélection du partenaire
    </h1>
<br>





<p> Votre classement des CVs déterminera votre appariement de la manière suivante : </p>

<p> 1- Une personne dans la salle sera choisie aléatoirement.</p>

<p> 2-  Cette personne formera une équipe avec le participant dont elle a classé le CV en première position.  </p>

<p> 3- Le processus se répète : une nouvelle personne sera choisie au hasard et sera pressentie pour former une équipe avec le participant dont elle a classé le CV en première position. </p>

<p> 4- Si ce participant fait déjà partie d’une équipe, la personne sera appariée à son prochain choix préféré.  </p>


<p> 5- Ce processus se poursuit jusqu'à ce que tout le monde ait un partenaire.  </p>



<p> Si vous avez des questions, veuillez lever la main pour que nous puissions vous aider.  </p>



{% endblock %}