{% block content %}
{%  include 'Bot.html' %}
    <style>
    h1 {text-align: center;}
    p {text-align: justify;}

    </style>

    <h1>
       Partie 3 - Instructions
    </h1>
<br>


<p> Bienvenue dans la troisième partie de l'expérience. </p>




<p> Dans cette partie, vous allez choisir un partenaire pour réaliser une tâche commune.</p>

<p> Vous verrez 4 CVs. Chaque CV représente une personne présente dans la salle en ce moment.
 </p>

<p> Classez ces CVs par ordre de préférence : du CV préféré (1er rang) au moins préféré (4ème rang).</p>

<p> Notez que plus un CV est haut dans votre classement, plus vous avez de chances d'être apparié avec cette personne pour cette partie de l'expérience.
</p>





<p> Si vous avez des questions, veuillez lever la main pour que nous puissions vous  aider. </p>




{% endblock %}