{% extends "global/Page.html" %}
{% load otree static %}
{% block title %}
      Partie 3
{% endblock %}

{% block content %}

<p> <b> Vous avez gagné {{participant.points_partie3}} points pour le jeu collectif.</b> </p>

<p> <b> Vous avez gagné {{participant.points_beliefs1}} pour l'estimation des performances.</b> </p>
<p> <b> Au total, vous avez gagné {{participant.points_partie3}} + {{participant.points_beliefs1}}  durant la partie 3.</b> </p>



<button class="btn btn-danger" id='button1' style="margin-left: 75%; display: block;"> Suivant </button>

{% endblock %}

