{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
       Exercice de Compréhension
{% endblock %}

{% block content %}
{%  include 'Bot.html' %}

<p> La réponse que vous avez indiquée est incorrecte. </p>

<p> Il y avait  <font color="red">4 zéros</font> dans le tableau.</p>

<p> <b> Voici la réponse que vous auriez dû indiquer: </b></p>

<br>

<img src="{{ static 'global/Exemple_error.png'}}" width="400px"/>


<p>

      <b> Veuillez attendre qu'un instructeur vienne vous voir avant de continuer l'expérience.</b>
</p>





{% endblock %}

