{% block content %}
{%  include 'Bot.html' %}
    <style>
    h1 {text-align: center;}
    p {text-align: justify;}

    </style>

    <h1>
       Partie 2 -  Instructions
    </h1>
<br>



<p>Bienvenue dans la deuxième partie de l'expérience. </p>

<p> Cette partie comprend 4 périodes d’une tâche identique.</p>

<p>A chaque période, vous découvrirez un tableau rempli de 0 et de 1.</p>

<p>Dans chaque tableau, votre tâche consiste à compter tous les zéros en 30 secondes.</p>


<p>Si vous comptez correctement le nombre total de zéros, vous gagnez 1 point.  </p>

<p> Voici l'écran que vous verrez :  </p>
<br>

<p>

    <img src="{{ static 'global/count_FR.png'}}" width="700px"/>
</p>








{% endblock %}