{% block title %}
Partie 4 - Instructions
{% endblock %}

{% block content %}
{%  include 'Bot.html' %}

<p>Bienvenue dans la Partie 4 de l'expérience.</p>
<p>Dans cette partie, vous allez réaliser la même tâche que dans la Partie 3, mais avec un partenaire différent. </p>
<p>Vous allez d’abord classer 4 nouveaux CVs, qui correspondent à d’autres participants présents dans la salle.</p>
<p>En fonction de ce classement, vous allez être apparié à un nouveau joueur.</p>
<p>Vous allez ensuite réaliser avec votre nouveau partenaire la même tâche que durant la Partie 3.</p>






{% endblock %}




