{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
     Part 4 - Table {{ view.round_number }} -  Partner: {{ participant.name_partner_round2 }}
{% endblock %}

{% block content %}
{%  include 'Bot.html' %}
<p>

    </p>


                {% if player.round_number == 1 %}

<img src="{{ static 'global/table_7.png'}}" width="380px"/>

<br>
<p>

        {{ formfields }}
</p>

{% elif player.round_number == 2 %}

<img src="{{ static 'global/table_8.png'}}" width="380px"/>
<br>
 <p>
        {{ formfields }}

 </p>

{% elif player.round_number == 3 %}

<img src="{{ static 'global/table_9.png'}}" width="380px"/>
<br>
 <p>
        {{ formfields }}

 </p>

{% elif player.round_number == 4 %}
<img src="{{ static 'global/table_10.png'}}" width="380px"/>


<br>
 <p>
        {{ formfields }}

 </p>

{% elif player.round_number == 5 %}
<img src="{{ static 'global/table_11.png'}}" width="380px"/>


<br>
 <p>
        {{ formfields }}

 </p>

{% elif player.round_number == 6 %}
<img src="{{ static 'global/table_12.png'}}" width="380px"/>


<br>
 <p>
        {{ formfields }}

 </p>


{% endif %}

<button class="btn btn-danger" id='button1' style="margin-left: 75%; display: block;"> Submit </button>


{% endblock %}

