{% block content %}
{%  include 'Bot.html' %}
    <style>
    h1 {text-align: center;}
    p {text-align: justify;}

    </style>

    <h1>
       Part 3 - Instructions - Partner Selection
    </h1>
<br>




<p> We will use your ranking to pair you with another player.  It is important that you rank the CVs by order of preference.

<p> The matching algorithm will work as follows:</p>

<p> One participant today will be randomly selected first. This participant will be paired to the player he/she ranked first.</p>

<p> A second participant will then be randomly selected. This participant will be paired to his/her most preferred player, provided that this player has not
already been matched. If that player is already part of a team, he/she will be paired to his/her second most preferred player.</p>

<p> This process will be repeated until each player is paired.</p>

<p> Therefore,  the higher up a person is in your ranking, the more likely you will be matched with that person. </p>
 </p>

<p> If you have any questions from this point on, please raise your hand and wait for the experimenter to come to you.</p>




    <p>  Press the button when you are ready to read the rest of the instructions. </p>


  <button class="btn btn-danger" id='button1' style="margin-left: 75%; display: block;"> Next </button>


{% endblock %}