{% block content %}
{%  include 'Bot.html' %}
    <style>
    h1 {text-align: center;}
    p {text-align: justify;}

    </style>

    <h1>
       Part 3 - Instructions - Collective Game
    </h1>
<br>


<p> According to the matching algorithm described previously, you will be paired with a partner for 6 rounds.</p>


<p> In each round,  both partners will see the same table, filled with 0s and 1s.</p>

<p> Each partner will have 30 seconds per round to count all the 0s.</p>

<p> One of the partners' answer will be randomly chosen as the team's answer.</p>

<p> If the team's answer is correct, both partners will earn 1 point. If the team's answer is incorrect, both partners will earn 0 points. </p>

<p> Ather each table, each partner will receive a feedback on the team's answer
    and might  send a message to his/her partner. </p>

<p> If you have any questions from this point on, please raise your hand and wait for the experimenter to come to you.</p>

    <p> To give you an idea of how the experiment will proceed, we will go through an example and show you the different types of feedback you will receive;
    and messages you will send.</p>

 <p>  Press the button when you are ready to start the example. </p>



  <button class="btn btn-danger" id='button1' style="margin-left: 75%; display: block;"> Start Example </button>


{% endblock %}