{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
     Part 3 - Table {{ view.round_number }} - Partner: {{ participant.name_partner }}
{% endblock %}

{% block content %}
<p>

    </p>


                {% if player.round_number == 1 %}

<img src="{{ static 'global/table_13.png'}}" width="380px"/>

<br>
<p>

        {{ formfields }}
</p>

{% elif player.round_number == 2 %}

<img src="{{ static 'global/table_14.png'}}" width="380px"/>
<br>
 <p>
        {{ formfields }}

 </p>

{% elif player.round_number == 3 %}

<img src="{{ static 'global/table_15.png'}}" width="380px"/>
<br>
 <p>
        {{ formfields }}

 </p>

{% elif player.round_number == 4 %}
<img src="{{ static 'global/table_16.png'}}" width="380px"/>


<br>
 <p>
        {{ formfields }}

 </p>

{% elif player.round_number == 5 %}
<img src="{{ static 'global/table_17.png'}}" width="380px"/>


<br>
 <p>
        {{ formfields }}

 </p>

{% elif player.round_number == 6 %}
<img src="{{ static 'global/table_18.png'}}" width="380px"/>


<br>
 <p>
        {{ formfields }}

 </p>


{% endif %}

<button class="btn btn-danger" id='button1' style="margin-left: 75%; display: block;"> Submit </button>


{% endblock %}

