{% block content %}
{%  include 'Bot.html' %}
    <style>
    h1 {text-align: center;}
    p {text-align: justify;}

    </style>

    <h1>
       Part 3 - Instructions
    </h1>
<br>


<p> Welcome to the third part of our experiment.</p>




<p> This part involves choosing a partner to play with.</p>

<p> You will see 4 CVs, each representing a participant from today's session. </p>

<p> Rank these CVs in order of preference: from your most preferred partner (rank 1st) to least preferred (rank 4th).</p>

<p> Your ranking will influence your pairing.
    The higher a person's rank on your list, the greater the chance of partnering with that person.
</p>





<p> If you have any questions, please raise your hand, and  the experimenter will assist you.</p>


    <p>  Click the button when you are ready to continue with further instructions. </p>



  <button class="btn btn-danger" id='button1' style="margin-left: 75%; display: block;"> Next </button>


{% endblock %}