{% block title %}
Collective Play- Table {{ view.round_number }} - Partner: {{ participant.name_partner }}
<style>
    .hidden-label label {
        display: none;
    }
</style>
{% endblock %}

{% block content %}



<p>
   {{ participant.name_partner }}'s answer was randomly  chosen as the team answer.

<br>
<p>
     Unfortunately, {{ participant.name_partner }} provided
a wrong answer and your  team got 0 points &#128542;
</p>

<p>
    Please select and send a message to {{ participant.name_partner }}:
</p>

<p>

        {{ formfields }}

    </p>


 <button class="btn btn-danger" id='button1' style="margin-left: 75%; display: block;"> Send </button>


{% endblock %}






