{% block title %}
Partie 5 - Partenaire: {{ participant.name_partner_round3 }}
{% endblock %}

{% block content %}

<p>Votre partenaire pour la partie 5 de l'expérience est <b> {{ participant.name_partner_round3 }}.</b>
<p>
Avant de débuter la première période, merci d'estimer votre performance et celle de {{ participant.name_partner_round3 }} dans la  <b> Partie 4  </b> de l'expérience.  </p>
<p> <u> Par exemple: </u></p>

<p>
    Si vous pensez n'avoir obtenu aucune réponse correcte dans la partie 4 de l'expérience, sélectionnez "0".
</p>
    <p>
    Si vous pensez avoir correctement compté  le nombre de zéros dans 1 tableau sur 4, sélectionnez "1".
</p>
    <p>
    Si 2 tableaux sur 4, sélectionnez "2", etc.
</p>
    <p>

Appliquez la même méthode pour estimer la performance de  {{ participant.name_partner_round3 }}.
</p>

<p> Vous gagnerez un point pour chaque estimation correcte. </p>

    <p> Si vous avez des questions, veuillez lever la main pour que nous puissions  vous aider. </p>

<p> Cliquez sur le bouton pour commencer.</p>



 <button class="btn btn-danger" id='button1' style="margin-left: 75%; display: block;"> Commencer </button>






{% endblock %}




