{% block content %}
{%  include 'Bot.html' %}
    <style>
    h1 {text-align: center;}
    p {text-align: justify;}

    </style>


<br>
<!--
<p> This is an individual counting game. In each round, you will see a table dividing into two parts, and consisting of randomly ordered 0s and 1s.
</p>
<p>For each table, you will  be given 45s to  count the number of 0s in both parts of the tables. The total number of 0s (ie, the sum of both parts) will automatically be computed.
</p>

    <p>You will be given three minutes in total. Accurately count  as many tables as possible  before the three minutes run out. You will be rewarded for each table that you count correctly. </p>


<p>  There will be 4 rounds. You will therefore have to count 4 different tables. You will earn 1 point for each table correctly counted.  </p>
  -->

<p>IT FINALLY WORKS !!</p>


{% endblock %}
