{% block content %}
{%  include 'Bot.html' %}
    <style>
    h1 {text-align: center;}
    p {text-align: justify;}

    </style>

    <h1>
        Partie 1- Sélection de votre prénom
    </h1>
<br>

<p> Vous allez à présent sélectionner un prénom fictif parmi une liste de prénoms.
  Ce prénom vous sera attribué durant toute l’expérience.  </p>

<p>Cette liste de prénoms est la même pour tous. Vous choisirez votre prénom en même temps que les autres participants de votre groupe. </p>
<p>Si le prénom que vous choisissez est déjà pris, il faudra en sélectionner un autre, car chaque joueur de votre groupe doit avoir un prénom unique.</p>

<p> Si vous avez des questions, veuillez lever la main pour que nous puissions vous aider. </p>





{% endblock %}