{% extends "global/Page.html" %}
{% load otree static %}
{% block title %}



<style>
    h1 {text-align: center;}
    p {text-align: justify;}
    div {text-align: justify;}
 </style>

<h1> FIN </h1>
<p> L’expérience est à présent terminée. </p>
<p> Pour votre participation, vous allez recevoir 3 euros.</p>
<p>Vous avez également accumulé <b> {{participant.ind_payoff}} points </b> tout au long de l’expérience:  </p>
<p> <u> Partie 2:</u> {{participant.points_partie2}} points. </p>
<p> <u>Partie 3:</u> {{participant.points_partie3}} points en équipe et {{participant.points_beliefs1}} points pour l'estimation des performances. </p>
  <p> <u> Partie 4:</u>{{participant.points_partie4}} points en équipe et {{participant.points_beliefs2}} points pour l'estimation des performances.</p>
<p> <u>Partie 5:</u>  {{participant.points_partie5}} points en équipe et {{participant.points_beliefs3}} points pour l'estimation des performances.</p>
<p><u> Partie 6:</u> 4 points. </p>
<p>Vous allez donc recevoir <b>{{participant.payoff_euros}} euros.</b> </p>
<p>Veuillez compléter la feuille de paiement que nous vous avons distribuée et faire la queue devant la salle de paiement. </p>
<p>Si vous avez des questions, veuillez lever la main. </p>


{% endblock %}