{% extends "global/Page.html" %}
{% load otree static %}
{% block title %}



<style>
    h1 {text-align: center;}
    p {text-align: justify;}
    div {text-align: justify;}
 </style>

<h1> FIN </h1>
<p> L’expérience est à présent terminée. </p>
<p> Pour votre participation, vous allez recevoir <b>3 euros.</b></p>
<p>Vous avez également accumulé <b> {{participant.ind_payoff}} point(s) </b> tout au long de l’expérience:  </p>
<p> <u> Partie 2:</u> {{participant.points_partie2}} point(s). </p>
<p> <u>Partie 3:</u> {{participant.points_partie3}} point(s) en équipe et {{participant.points_beliefs1}} point(s) pour l'estimation des performances. </p>
  <p> <u> Partie 4:</u> {{participant.points_partie4}} point(s) en équipe et {{participant.points_beliefs2}} point(s) pour l'estimation des performances.</p>
<p> <u>Partie 5:</u>  {{participant.points_partie5}} point(s) en équipe et {{participant.points_beliefs3}} point(s) pour l'estimation des performances.</p>
<p><u> Partie 6:</u> point(s). </p>
<p>Vous allez donc recevoir <b>{{participant.payoff_euros}} euros.</b> </p>
<p>Veuillez compléter la feuille de paiement que nous vous avons distribuée et faire la queue devant la salle de paiement. </p>
<p>Si vous avez des questions, veuillez lever la main. </p>


{% endblock %}