{% block title %}
Partie 5 - Période {{ view.round_number }} - Partenaire: {{ participant.name_partner_round3 }}
{% endblock %}

{% block content %}
{%  include 'Bot.html' %}
<p>

</p>
<p>
Une de vos réponses a été aléatoirement choisie pour être la réponse de groupe.

<p>
     Malheureusement, votre équipe a donné une mauvaise réponse et a donc gagné 0 point  &#128542;

     <p>
<br>


 <button class="btn btn-danger" id='button1' style="margin-left: 75%; display: block;"> Suivant </button>

{% endblock %}




