{% block title %}
Partie 5 - Instructions
{% endblock %}

{% block content %}
{%  include 'Bot.html' %}

<p>Bienvenue dans la Partie 5 de l'expérience.</p>
<p>Dans cette partie, vous allez réaliser la même tache que dans les Parties 3 et 4, mais avec un partenaire différent. </p>
<p>Vous allez d’abord classer 4 nouveaux CVs, qui correspondent à un autre sous-groupe de participants du groupe A présents dans la salle.</p>
<p>En fonction de ce classement, vous allez être apparié à un autre joueur.</p>
<p>Vous allez ensuite réaliser avec votre nouveau partenaire la même tache que durant les Parties 3 et 4.</p>


 <button class="btn btn-danger" id='button1' style="margin-left: 75%; display: block;"> Suivant </button>





{% endblock %}




