

{% block content %}
<!--<form method="post" class="form"> -->
{% block title %}
     Part 4
{% endblock %}
<!--<form method="post" class="form"> -->
<p> <i> Each CV below represents one participant in today's session. </i></p>
<p> <i> Please rank the 4 CVs  from most preferred choice (Rank 1st) to least preferred choice (Rank 4th). </i>  </p>
<img src="{{ static 'global/ImageA_round2.png'}}" width="500px"/>

<br>
    {{ formfields }}
    <input type="submit" class="btn btn-primary" value="Submit">
</form>
<script src="{% static 'Choice/rank_choix11.js' %}"></script>
{% endblock %}






